body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #000;
  color: #fff;
  padding: 2rem 10px;
  position: relative;
  width: 100%;
  border-bottom: 0.3px solid var(--color-white);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navbar_brand a {
  font-size: 24px;
  color: var(--color-white);
  text-decoration: none;
}

nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
  position: relative; /* Ensure the link is a positioned element */
  padding: 8px;
  font-size: 1.2rem;
}

nav li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}
nav li a:hover{
  color: var(--color-primary);
}

/* Add a horizontal line below each nav link */
nav li a::after {
  position: fixed;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  bottom: 0;
  left: 0;
  transition: width 0.8s; /* Apply a transition effect on width property */
}

/* On hover, transition the width of the line to the full width of the link */
nav li a:hover::after {
  width: 100%;
}
.navbar_toggle {
  font-size: 24px;
  color: #fff;
  position: static;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none; /* Hide the toggle button by default for larger screens */
}
.profile {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  margin-right: 2rem;
}
.navbar_togglecross{
  display: none;
}
.navbar_features{
  background: var(--color-dark);
}

/* FOR MOBILE SCREENS */

@media (max-width: 768px) {
  .profile {
    display: none;
  }
  .navbar_brandactive{
    display: none;
  }
  .navbar_toggleactive{
    display: block;
    color: black;
  }
  .navbar_togglecross{
    display: none;
  }
  .navbar_togglecrossactive{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .navbar_menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    width: 500px;
    height: 65vh;
  }

  .navbar_toggle {
    display: block; /* Show the toggle button for small screens */
  }

  .navbar_menuactive {
    display: none;
  }
  /* .navbar_menuactive{
      margin: left 0px;
    } */
}
