.sectiontwo_container{
    height: 50vh;
}
.SectionTwo_colone{
    background-color: #080013;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}
.SectionTwo_coltwo{
    background-image: url('./../../../assets/se.jpg'); /* Replace with the actual path to your image */
  
  /* Set the background size and other properties */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  /* Set the size of the section (optional) */
  min-height: 400px;
}

/* SMALLER SCREENS */

@media (max-width: 768px){
    .SectionTwo_coltwo{
        display: none;
    }
}